body {
  background-color:#fff;
}

.masthead {
padding-top: 1rem;
padding-bottom: 1rem;
margin-bottom: 1rem;
background-color: #BE3B77;
color:#fff;
}

.masthead .title {
  font-weight:bold;
  font-size:1.3em;
  padding-left:10px;
}

.masthead .sub {
  font-style: italic;
}

#blog-sub {
  border-bottom: 1px solid #eee;
}

#blog-sub .menu-item {
  font-size:0.9em;
}

textarea {
  width:100%;
  max-width:100%;
  min-height:250px;
}

textarea.md {
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  overflow: auto;
}

div.buttonbar {
  margin-bottom:12px;
  padding-bottom:8px;
  border-bottom: 1px solid #ccc;
}

table {
    display: table;
    border-collapse: separate;
    border-color: grey;
    border-collapse: collapse;
    border-spacing: 0;
    padding:0;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

table p {
  display:inline;
}

table.form thead td.button,  table.form tbody td.button  {
  background-color: #fff;
  border: 1px solid #fff;
}

table.form td {
  padding: 3px 4px;
}

table.form tr:nth-child(2n) input {
    background-color: #f8f8f8;
}

table.form input {
  border:none;
  width:98%;
}

table.form input:focus {
  outline:0;
}

button.btn-formmod {
  display:none;
  border:none;
  background-color: #fff;
  color:#615f5f;
  border-radius: 2px;
}

button.btn-formmod.show {
  display:block;
}

button.btn-formmod:hover {
  color:#dd1010;
}

#toggle-delete.active {
  color:#c42222;
}

.delHighlight, .delHighlight input {
  background-color: #e4aeae !important;
}

/* form scaling */
  table.form {
    width:100%;
  }

  table.form.scroll {
    table-layout: fixed;
    margin-bottom:7px;
  }

  table.form.scroll td {
    width:170px;
  }

input.header {
  font-weight:bold;
}

.footer {
  margin-top:22px;
  text-align:center;
  color:#9d9d9d;
}

.form-tools {
  overflow:hidden;
  margin-top:-10px;
  margin-bottom:10px;
}

.form-tools .form-button {
  float:left;
  waidth:20px;
  height:20px;
  margin:5px;
  margin-right:12px;
  padding-top:2px;
  color:#878787;
  border-radius: 2px;
  text-align: center;
  cursor:pointer;
  user-select: none;
}

.form-tools .form-button:hover {
  color:#000;
}

.form-tools .form-button.tablePos {
  margin-top:-10px;
}

.table-button {
  position:absolute;
  z-index: 1;
}

.table-builder {
  display:table;
  padding:10px 40px 40px 10px;
}

.table-builder div {
  display:table-row;
}

.table-builder div div {
  display:table-cell;
  height:40px;
  width:40px;
  border-bottom:2px solid #BE3B77;
  border-right:2px solid #BE3B77;
  background-color: #ead7e0;
}

.table-builder { cursor: pointer; }

.table-builder div.last div, .table-builder div div.last {
  border-bottom:2px solid #ccc;
  border-right:2px solid #ccc;
  background-color: #fff;
}

/* stop the top and left borders over-running.. */
.table-builder div.first div { border-top:2px solid #BE3B77; }
.table-builder div div.first { border-left:2px solid #BE3B77; }
.table-builder div.first div.last { border-top:2px solid #ccc; }
.table-builder div.last div.first { border-left:2px solid #ccc; }

/* let's get responsive.. */
@media all and (max-width: 1024px) {
  .container {
    width:100%;
    padding:0px 5px;
  }
}
@media all and (max-width: 640px) {
  .tabnav-tab {
    padding:3px 6px;
    font-size:0.9em;
  }
  .masthead {
    padding-top:0.5rem;
    padding-bottom:0.5rem;
  }
  .masthead .title {
    padding-left:3px;
  }
}
